.title-screen .label {
  font-family: "Serif";
  font-weight: bold;
  font-size: 30px;
  -fx-font-family: "Serif";
  -fx-font-weight: bold;
  -fx-font-size: 30px;
}
.game-view {
  background-color: #97a2a4;
  -fx-background-color: #979797;
}

.title-screen{
  background-image: url("val_the_valk.png");
  -fx-background-image: url("val_the_valk.png");
}

.cell {
  -fx-pref-width: 40px;
  -fx-pref-height: 40px;
}

.cell {
  border-color: black;
  border-width: 1px;
  -fx-border-color: black;
  -fx-border-width: 1px;
}
